@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<FourSquareApp.Models.Venue>

<h2>All Venues</h2>
<ol>
    @foreach (var venue in Model)
    {
        <li>
            <ul>
                @if (venue.Name != null)
                {
                <li>
                    @Html.DisplayFor(modelItem => venue.Name)
                </li>
                }
                @if (venue.Url != null)
                {
                <li>
                    @Html.DisplayFor(modelItem => venue.Url)
                </li>
                }
                <li>Address:
                    <ul>
                        @if (venue.Location.address != null)
                        {
                        <li>@Html.DisplayFor(modelItem => venue.Location.address)</li>
                        }
                        <li>@Html.DisplayFor(modelItem => venue.Location.city), @Html.DisplayFor(modelItem => venue.Location.state), @Html.DisplayFor(modelItem => venue.Location.country) @Html.DisplayFor(modelItem => venue.Location.postalCode)</li>
                    </ul>
                </li>
            </ul>
        </li>

    }
</ol>
